In [12]:
import pandas as pd
data = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")
data

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018240,2023-07-03 18:05:00,NaN,NaN,40.866806,-73.931010,"(40.866806, -73.93101)",RIVERSIDE DRIVE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4648110,Sedan,Sedan,NaN,NaN,NaN
2018241,2023-07-22 21:39:00,BRONX,10457.0,40.844177,-73.902920,"(40.844177, -73.90292)",EAST 174 STREET,WEBSTER AVENUE,NaN,1.0,...,NaN,NaN,NaN,NaN,4648117,Sedan,NaN,NaN,NaN,NaN
2018242,2023-07-02 17:55:00,MANHATTAN,10006.0,40.711033,-74.014540,"(40.711033, -74.01454)",WEST STREET,LIBERTY STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4648366,Taxi,NaN,NaN,NaN,NaN
2018243,2023-07-22 13:15:00,QUEENS,11433.0,40.691580,-73.793190,"(40.69158, -73.79319)",110 AVENUE,157 STREET,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4648129,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
2018244,2023-07-22 03:00:00,QUEENS,11433.0,40.700240,-73.792854,"(40.70024, -73.792854)",SOUTH ROAD,164 STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4647913,Sedan,NaN,NaN,NaN,NaN

In [ ]:
#Which borough has had the second highest total number of crashes reported since 2012?

In [5]:
borough_distribution = data['BOROUGH'].value_counts()

In [6]:
borough_distribution

BOROUGH
BROOKLYN         441026
QUEENS           372457
MANHATTAN        313266
BRONX            205345
STATEN ISLAND     58297
Name: count, dtype: int64

In [ ]:
#Considering the entire data set since July 2012, which borough has the most crashes for every 100,000 people?

In [10]:
population_data = {'BRONX': 1446788, 'BROOKLYN': 2648452,'MANHATTAN': 1638281,'QUEENS': 2330295,'STATEN ISLAND': 487155}
crashes = borough_distribution / borough_distribution.index.map(population_data) * 100000
crashes.sort_values(ascending=False)

BOROUGH
MANHATTAN        19121.628097
BROOKLYN         16652.217975
QUEENS           15983.255339
BRONX            14193.164444
STATEN ISLAND    11966.827806
dtype: float64

In [75]:
#What is the leading cause of crashes (ignoring 'Unspecified') (use the field 'CONTRIBUTING FACTOR VEHICLE 1')?
data = data.query("`CONTRIBUTING FACTOR VEHICLE 1` != 'Unspecified'")
cause = data['CONTRIBUTING FACTOR VEHICLE 1'].value_counts().idxmax()
count = data['CONTRIBUTING FACTOR VEHICLE 1'].value_counts().max()
accidents = data.shape[0]
proportion = count / accidents
cause, count, proportion

('Driver Inattention/Distraction', 401262, 0.3027229539746618)

In [ ]:
#Continuing from the previous question - the top 5 causes of crashes (ignoring 'Unspecified') account for what proportion of total crashes?

In [30]:
top5 = data['CONTRIBUTING FACTOR VEHICLE 1'].value_counts().head(5).sum()
top5_proportion = top5 / accidents
top5_proportion

0.5776082999059229

In [ ]:
#Considering the entire data since 2012, what is the total count of accidents that involved two or more fatalities?

In [39]:
data2 = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")
data2

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018240,2023-07-03 18:05:00,NaN,NaN,40.866806,-73.931010,"(40.866806, -73.93101)",RIVERSIDE DRIVE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4648110,Sedan,Sedan,NaN,NaN,NaN
2018241,2023-07-22 21:39:00,BRONX,10457.0,40.844177,-73.902920,"(40.844177, -73.90292)",EAST 174 STREET,WEBSTER AVENUE,NaN,1.0,...,NaN,NaN,NaN,NaN,4648117,Sedan,NaN,NaN,NaN,NaN
2018242,2023-07-02 17:55:00,MANHATTAN,10006.0,40.711033,-74.014540,"(40.711033, -74.01454)",WEST STREET,LIBERTY STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4648366,Taxi,NaN,NaN,NaN,NaN
2018243,2023-07-22 13:15:00,QUEENS,11433.0,40.691580,-73.793190,"(40.69158, -73.79319)",110 AVENUE,157 STREET,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4648129,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
2018244,2023-07-22 03:00:00,QUEENS,11433.0,40.700240,-73.792854,"(40.70024, -73.792854)",SOUTH ROAD,164 STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4647913,Sedan,NaN,NaN,NaN,NaN

In [40]:
data2['NUMBER OF PERSONS KILLED'] = data2['NUMBER OF PERSONS KILLED'].fillna(0)
countofaccidents2 = data2[data2['NUMBER OF PERSONS KILLED'] >= 2].shape[0]
countofaccidents2

88

In [ ]:
#On average, for every 1000 accidents, how many have resulted in at least one person dead?

In [45]:
data2['NUMBER OF PERSONS KILLED'] = data2['NUMBER OF PERSONS KILLED'].fillna(0)
countofaccidents1 = data2[data2['NUMBER OF PERSONS KILLED'] >= 1].shape[0]
totalaccidents = data2.shape[0]
average = (countofaccidents1/ totalaccidents) * 1000
average

1.3893258747079764

In [ ]:
#What proportion of accidents in the data do not have a Cross Street Name?

In [47]:
cross = data2['CROSS STREET NAME'].isna().mean()
cross

0.37435098315615795

In [ ]:
#Which combination of vehicles have the most number of accidents?

In [52]:
vehicle = data2.groupby(['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']).size()
combination = vehicle.idxmax()
combination

('Sedan', 'Sedan')

In [ ]:
#Among crashes where the contributing factor (CONTRIBUTING FACTOR VEHICLE 1) was alcohol involvement, what proportion resulted in a fatality?

In [53]:
alcohol = data2[data2['CONTRIBUTING FACTOR VEHICLE 1'] == 'Alcohol Involvement']
proportion = (alcohol['NUMBER OF PERSONS KILLED'] > 0).mean()
proportion

0.0046638345031400075

In [ ]:
#What proportion of crashes occur during the evening rush hour, defined as starting at 4 PM, and before 7 PM?

In [56]:
evening = data2[(data2['CRASH DATE_CRASH TIME'].dt.hour >= 16) & (data2['CRASH DATE_CRASH TIME'].dt.hour < 19)]

In [59]:
even= evening.count()
total = data.shape[0]
proportion = len(evening) / len(data2)
proportion

0.20514010935243243

In [ ]:
#Among crashes involving motorcycles, what proportion resulted in injuries but no fatalities?

In [68]:
motorcycles = data2[(data2['VEHICLE TYPE CODE 1'].str.contains('MOTORCYCLE',na=False)) 
                     | (data2['VEHICLE TYPE CODE 2'].str.contains('MOTORCYCLE',na=False))]
injuries = motorcycles[(motorcycles['NUMBER OF PERSONS INJURED'] > 0)&(motorcycles['NUMBER OF PERSONS KILLED'] == 0)]
proportion = len(injuries) / len(motorcycles)
proportion

0.5004565018912221

In [ ]:
#How many crashes involved bicycles as one of the vehicles? (Consider 'VEHICLE TYPE CODE 1' and 'VEHICLE TYPE CODE 2')

In [74]:
bike = data2[(data2['VEHICLE TYPE CODE 1'].str.contains('BICYCLE',na=False)) 
                     | (data2['VEHICLE TYPE CODE 2'].str.contains('BICYCLE',na=False))]
l=len(bike)
l

19108